.content{
  height: 90vh;
}
.ant-list-item{
  padding: 5px !important;
}
.ant-list-item .anticon{
  cursor: pointer !important;
}
.float-right{
  float : right;
}
.ant-list-item .anticon:nth-child(2){
  margin-top: 5px;
}
.ant-list-item .anticon:nth-child(2):hover{
  color: #f15b5b;
}